@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Encode Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 935px;
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-top: 54px;
    position:relative;
}
/* Barra do topo fixa */
.barra-topo{
    display: flex;
    width: 935px;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    position: fixed;
    top: 0px;
    margin: 0px auto;
    padding-right: 28px;
    z-index: 2;
    background-color: #FFFFFF;
}

.barra-topo div{
    display: flex;
    align-items: center;
}
.barra-topo-mobile{
    width: 100%;
    display: none;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}
.icone{
    color: rgb(0,0,0);
    margin-right: 20px;  
    font-size: 22px;  
}
.ultimo-icone{
    margin-right: 0px;
    color: rgb(0,0,0);
    font-size: 22px;  
}
.pesquisar{
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    width: 215px;
    height: 28px;
    justify-content: center;
    color: rgb(151,151,151,1);
    font-size: 14px;
}
.pesquisa{
    position:absolute;
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    width: 215px;
    height: 28px;
    color: rgb(0,0,0,1);
    background-color: rgb(151,151,151,0);;
    font-size: 14px;
    z-index: 2;

}
.pesquisa:focus{
    background-color: #ffffff;
}
.pesquisando{
    position: absolute;
}
/* Fim da barra do topo fixa */
.borda{
    height: 1px;
    width:100%;
    background-color: #dbdbdb;

}
.conteudo{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.conteudo-esquerda{
    width: 614px;
    margin-top: 88px;
    position: relative;
}
.borda-stories{
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
}
.borda-stories-baixo{
    width: 100%;
    height: 1px;
    background-color: #dbdbdb;
    margin-top: 96px;
}
/* Stories */
.stories{
    width: 108%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    left: 0px;
    top: 0px;
    border-left: 1px solid #dbdbdb;
    border-right: 0px;
    padding: 15px 0;
}
.stories h4{
    font-size: 12px;
    font-weight: 400;
    color: rgb(38, 38, 38, 1);
    line-height: 14px;
}
.stories > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icone-stories{
    position: relative;
    max-width: 66px;
}
.icone-stories div{
    max-width: 78px;
}
.icone-externo{
    width: 66px;
    height: 66px;
    border-radius: 33px;
}
.icone-interno{
    width: 56px;
    height: 56px;
    border-radius: 28px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.ultimo-storie{
    position: relative;
}
.setinha{
    position: absolute;
    left: 0px;
    top: 28px;
    font-size: 26px;
    color: rgba(255, 255, 255, 1);
    z-index: 1;

}
.setinha:hover{
    cursor: pointer;
}
.corte-de-imagem{
    position:absolute;
    background-color: #fafafa;
    width: 28px;
    height: 95px;
    right: 0;
    top: 0px;
}
/* Fim dos stories */

/* Posts da página */
.posts{
    margin-top: 126px;
}
.post > div, 
.barra-de-interacao div{
    display: flex;
    align-items: center;
}
.post{
    margin-bottom: 60px;
    border: 1px solid #dbdbdb;
}
.topo-posts{
    justify-content: space-between;
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
}
.topo-posts div{
    display: flex;
    align-items: center;
}
.menor-imagem{
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
.topo-posts img{
    margin-right: 15px;
}
.tres-pontinhos{
    padding-bottom: 6px;
}
 img:hover, 
 h3:hover, 
.topo-posts p:hover{
    cursor: pointer;
}
.imagem-principal{
    width: 100%;
    height: 100%;
}
.barra-de-interacao{
    padding: 15px 15px 0px 15px;
    justify-content: space-between;
}
 .curtidas{
     font-size: 14px;
     color: #000000;
     padding: 15px;
 }
 h3 {
    font-weight: 500;
    font-size: 14px;
    color: #000000;
 }
 .curtidas p{
     font-weight: 300;
     margin: 0 5px;
 }
 .curtidas img{
     width: 20px;
     height: 20px;
     border-radius: 10px;
 }
 /* Fim dos posts da página */

 .barra-inferior-mobile{
     width: 100%;
     display: none;
     height: 54px;
     background-color: #FFFFFF;
     align-items: center;
     justify-content: space-between;
     padding: 15px;
 }

 /* Barra lateral fixa */
 .topo-sidebar{
     display: flex;
     align-items: center;
     margin-bottom: 25px;
 }
 .imagem-sidebar{
    position: initial;
    top: initial;
    left: initial;
    margin-right: 18px;
 }
 .sidebar{
    width: 293px;
    background-color: #fafafa;
    z-index: 1;
    position: sticky;
    top: 54px;
    padding-top: 108px;
    padding-left: 30px;
}
.sidebar .menor-imagem{
    margin-right: 10px;
}
.sidebar p{
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #8E8E8E;
}
.sugestoes > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topo-sugestoes{
    margin-bottom: 15px;
}
h5 {
    font-size: 12px;
    font-weight: 500;
}
h5:hover{
    cursor: pointer;
}
.sugestao{
    margin-bottom: 15px;
}
.sugestao > div{
    display: flex;
    align-items: center;
}
.sugestao p{
    font-size: 12px;
    font-weight: 400;
    margin-top: 2px;
}
/* Fim da barra lateral */

/* Cores */
.cinza{
    color: #8E8E8E;
}
.cinza:hover{
    cursor:initial;
}
.preto{
    color: #000000;
}
.ciano{
    color: #139EF2;

}
/* Estilo para larguras inferiores a 935px (sem barra lateral) */
@media (max-width: 935px){
    .container{
        width: 100%;
    }
    .conteudo{
        width: 614px;
        justify-content: center;
    }    
     .sidebar{
      display: none;
  }
     .barra-topo{
      width: 100%;
  }
  .pesquisar{
      width: 23%;
      min-width: 180px;
  }
  .borda-stories-baixo{
      margin-top: 108px;
  }
  .icone-externo{
      width: 100%;
      height: auto;
  }
  .icone-interno{
      width: 84.84%;
      height: auto;
  }
  .stories{
      width: 663.12;
  }



}

/* Estilo para larguras inferiores a 614px */
@media (max-width: 614px){
    body{
        overflow-x: hidden;
        width: 100%;
    }
    body div{
        overflow-x: hidden;
    }
    .barra-topo{
        display: none;
    }
    .barra-topo-mobile{
        display: flex;
        position: fixed;
        top: 0px;
        left: 0px;
        bottom: auto;
        z-index: 2;
        background-color: #ffffff;
        margin: 0px auto;
    }
    .barra-topo-mobile div{
        overflow-x: visible;
    }
    .container{
        padding-top: 0px;
    }
    .conteudo{
        width: 100%;
    }
    .conteudo-esquerda{
        width: 100%;
        margin-top: 64px;
    }
    .stories{
        width: 108%;
        border-left: 0px;
        background-color: rgba(255, 255, 255, 0);
    }
    .setinha{
        display: none;
    }
    .posts{
        margin-top: 0px;
    }
    .post{
        margin-left: 0px;
        margin-right: 0px;
    }
    .corte-de-imagem{
        display: none;
    }
    .barra-inferior-mobile{
        display: flex;
        overflow-y: hidden;
        position: fixed;
        bottom: 0;
        left: 0;
    }
    .icone-externo{
        width: 100%;
        height: auto;
    }
    .icone-interno{
        width: 84.84%;
        height: auto;
    }
    .barra-inferior-mobile div{
        overflow-x: visible;
    }






}